<h1 class="center">AntPaint</h1>
<div class="row center">
    <p>A very cool drawing app developed by me.</p>
</div>
<div class="row center space-after">
    <a class="btn" href="/projects/antpaint/antpaint.apk">Download APK</a>
    <a class="btn" href="https://github.com/hangyas/AntPaint" target="_blank">source code</a>
</div>
<div class="row space-after">
    <img src="/projects/antpaint/unnamed.png" class="col-3">
    <img src="/projects/antpaint/unnamed4.png" class="col-3">
    <img src="/projects/antpaint/unnamed5.png" class="col-3">
    <img src="/projects/antpaint/unnamed6.png" class="col-3">
</div>
<div class="row">
    <p>For technical reasons it's impossible to upload the app to Google Play, without rewriting significant portions of the codebase.</p>
</div>
