<style>
  img {
    max-width: 100%;
  }
</style>

<p>
  01 - 2006 - anyával csináltuk és az a durva hogy még létezik <a href="http://zsele.club.hu/">http://zsele.club.hu/</a>
</p>
<a href='/projects/site_imgs/01 - 2006.jpg'>
  <img src='/projects/site_imgs/01 - 2006.jpg'>
</a>
<p>
  02 - a jobb felső szöveg mozgott
</p>
<a href='/projects/site_imgs/02 - IPgmTfa.jpg'>
  <img src='/projects/site_imgs/02 - IPgmTfa.jpg'>
</a>
<p>
  03 - itt animálva jöttek be dombok
</p>
<a href='/projects/site_imgs/03 - Wb76LWk.jpg'>
  <img src='/projects/site_imgs/03 - Wb76LWk.jpg'>
</a>
<p>
  04
</p>
<a href='/projects/site_imgs/04 - qvEiAT5.jpg'>
  <img src='/projects/site_imgs/04 - qvEiAT5.jpg'>
</a>
<p>
  05
</p>
<a href='/projects/site_imgs/05 - pWRW253.jpg'>
  <img src='/projects/site_imgs/05 - pWRW253.jpg'>
</a>
<p>
  06
</p>
<a href='/projects/site_imgs/06 - CA7SUpz.jpg'>
  <img src='/projects/site_imgs/06 - CA7SUpz.jpg'>
</a>
<p>
  07
</p>
<a href='/projects/site_imgs/07 - 1ISglXr.jpg'>
  <img src='/projects/site_imgs/07 - 1ISglXr.jpg'>
</a>
<p>
  08
</p>
<a href='/projects/site_imgs/08 - VvHEwne.jpg'>
  <img src='/projects/site_imgs/08 - VvHEwne.jpg'>
</a>
<p>
  09 - bónusz fejlécek
</p>
<a href='/projects/site_imgs/09 - bnusz fejlcek.png'>
  <img src='/projects/site_imgs/09 - bnusz fejlcek.png'>
</a>
<p>
  10 - kzpiskola eleje.png
</p>
<a href='/projects/site_imgs/10 - kzpiskola eleje.png'>
  <img src='/projects/site_imgs/10 - kzpiskola eleje.png'>
</a>
<p>
  11 - ~középiskola közepe
</p>
<a href='/projects/site_imgs/11 - kzpiskola kzepe.png'>
  <img src='/projects/site_imgs/11 - kzpiskola kzepe.png'>
</a>
<p>
  12 - ~középiskola vége
</p>
<a href='/projects/site_imgs/12 - kzpiskola vge.png'>
  <img src='/projects/site_imgs/12 - kzpiskola vge.png'>
</a>
<p>
  13 - 2016
</p>
<a href='/projects/site_imgs/13 - site_2016.png'>
  <img src='/projects/site_imgs/13 - site_2016.png'>
</a>
<p>
  14 - 2017
</p>
<a href='/projects/site_imgs/14 - 2017.png'>
  <img src='/projects/site_imgs/14 - 2017.png'>
</a>