<h1>useless-lib</h1>
<p>My collection of algorithms</p>

<h2></h2>


<h2>Compression</h2>

<ul>
	<li>
		<a href="https://github.com/hangyas/useless-lib/tree/master/01-burrows-wheeler-transform">01-burrows-wheeler-transform</a> - rearranges a character string into runs of similar characters, used in bzip2 and DNA compression
	</li>
</ul>

<h2>Search trees</h2>

<ul>
	<li>
		<a href="https://github.com/hangyas/useless-lib/tree/master/02-avl-tree">02-avl-tree</a>
		 - self-balancing binary search tree
	</li>
</ul>
