<h1>useless-lib</h1>
<p>My collection of algorithms</p>

<h2></h2>


<h2>Compression</h2>

<ul>
	<li>
		<a href="https://github.com/hangyas/useless-lib/tree/master/01-burrows-wheeler-transform">01-burrows-wheeler-transform</a> - rearranges a character string into runs of similar characters, used in bzip2 and DNA compression
	</li>
	<li>
		<a href="https://github.com/hangyas/useless-lib/tree/master/03-wavelet-tree">03-wavelet-tree</a> - succinct data structure to store strings in compressed space, using `rank` and `select` methods. Information about a given range can be extracted as well
	</li>
</ul>

<h2>Search trees</h2>

<ul>
	<li>
		<a href="https://github.com/hangyas/useless-lib/tree/master/02-avl-tree">02-avl-tree</a>
		 - self-balancing binary search tree
	</li>
	<li>
		<a href="https://github.com/hangyas/useless-lib/tree/master/04-b-tree">04-b-tree</a>
         - self-balancing data structure used in databases and file systems
	</li>
</ul>
