<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <header>
            <canvas id="headercanvas">
            </canvas>
            <h1>
                Hangyás
            </h1>
        </header>
        <nav>
            <ul id="menu">
              <li>
                  <a href="apps">apps</a>
              </li>
              <li>
                  <a href="small_projects">small projects</a>
              </li>
              <li>
                  <a href="old_things">old things</a>
              </li>
            </ul>
        </nav>
        <div id="content">
          {{ content }}
        </div>
    </body>
</html>
