<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <header>
            <canvas id="headercanvas">
            </canvas>
            <h1>
                Hangyás
            </h1>
        </header>
        <div id="body">
            <nav>
                <ul id="menu">
                {% for my_page in site.pages %}
                  {% if my_page.title %}
                    <li>
                        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                </ul>
            </nav>
            <div id="content">
              {{ content }}
            </div>
        </div>
    </body>
</html>
